<!-- ./client/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="criar" class="tabName">
        <p id="textID"></p>
        <label for="stateBot">Escolha o Estado do bot</label>
        <select name="stateBot" id="stateBot">
          <option value="on">Ativar</option>
          <option value="off">desativar</option>
        </select>
        <br><br>
        <input type="submit" value="Enviar" onclick="botActivated()">
      <br><br>
    </div>
    
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script>
        var socket = io("http://localhost:5000");

        function botActivated(){
            const offbot = document.getElementById("stateBot").value;
            console.log(offbot);
            if(offbot == "off"){
                socket.emit("activated", false);
            }
            if(offbot == "on"){
                socket.emit("activated", true);
            }
            socket.on("activated", (activated) => { 
            console.log("resposta", activated);
            if(activated) {
                document.getElementById("textID").innerHTML = "<b>Bot está ATIVADO</b>";
            }else{
                document.getElementById("textID").innerHTML = "<b>Bot está DESATIVADO</b>";
            }})
        }
      
    </script>
  </body>
</html>