<!-- ./client/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel = "shortcut icon" type = "imagem/x-icon" href = "/img/revgas.webp"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>RevBot</title>
</head>

<body>
  <div class="container" style="width: 100vw; height: 100vh; display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <div class="position-relative">
      <div class="position-absolute top-50 start-50 translate-middle">
        <div id="criar" class="tabName" style="align-items: center;">
          <img id="logo" src="img/logo.png">
          <br><br>
          <p id="textID" style="display:none"></p>
          <div  id="carregando" class="text-center" style="display:none">
            <div class="spinner-border" role="status" style="color: #F15A22;">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div id="formulario">
            <img class="rounded mx-auto d-block" id="img1">
            <h3></h3>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Sessão:</label>
              <input type="text" class="form-control" id="idInput" placeholder="Digite o Número do Whatsapp">
            </div>
            <br>
            <div class="d-grid gap-2 col-5 mx-auto">
              <button class="btn" style="background-color: #F15A22; color: white;" onclick="criarSessao()">Criar</button>
            </div>
          </div>
          <div id="activatedBot">
            <div class="col-12">
              <br>
              <h5 id="statusBot"></h5>
              <br>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="activated" class="btn" style="background-color: #F15A22; color: white;" onclick="activatedBot()"></button>
                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Sair</button>
              </div>
              
            </div>
          </div>
          <br><br>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sair</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tem certesa que deseja sair?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="exitSession()">Sair</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="js/jquery.min.js"></script>
<script src="js/imask.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/socket.io-3.0.1.min.js"></script>
<script src="js/QRcode.js"></script>

</html>