<!-- ./client/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Document</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="criar" class="tabName">
        <h1>RevGás</h1>
        <p id="textID" style="display:none"></p>
        <img id="img1">
        <br>
        <div class="col-3">
          <br>
          <label for="inputAddress" class="form-label">Session</label>
          <input type="text" class="form-control" id="idInput" placeholder="Digite o Nome da Sessão">
        </div>
        <br>
        <button class="btn btn-primary" onclick="criarSessao()">Criar Sessão</button> <button class="btn btn-primary" onclick="carregarSessao()">Recarregar qrCode</button>
        <br><br>
      </div>
    </div>
    <hr>

    <script>
      function carregarTab(tabName) {
        var i;
        var x = document.getElementsByClassName("tabName");
        for(i=0; i<x.length;i++){
          x[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block"
      }
    </script>

    <script>
      const socket = io("http://localhost:3000");
      function criarSessao() {
        socket.emit("create-session", {id:document.getElementById('idInput').value});
        socket.on('qrcode', (data) => {
          document.getElementById("textID").style.display = "block";
          document.getElementById("textID").innerHTML = "<b>Id da instancia: </b>" + document.getElementById('idInput').value;
          document.getElementById("img1").src = "images/" + document.getElementById("idInput").value + ".png"
        });
        socket.emit('qrcode');
      }

      function carregarSessao() {
        socket.on('qrcodeLoad', (data) => {
          document.getElementById("img1").src = "images/" + document.getElementById("idInput").value + ".png"
          console.log(data);
          socket.emit('qrcodeLoad', data + document.getElementById("idInput").value + ".png");
        });
      }


      socket.on('message', (data) => {
        document.querySelector("h1").innerHTML = data
        socket.emit("message")
        if (document.querySelector("h1").value = "CONNECTED") {
          document.getElementById("img").style.display = "none";
          socket.disconnect(true);
        }
      })
      socket.emit("message")
      
    </script>
  </body>
</html>